@import '../main.scss';

.footer{
  display: flex;
  align-items: center;
  color: $color-green;
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: 0 0 2.5% 10%;

  & p {
    font-weight: 400;
  }

  @include respond(tab-land) {
    font-size: 1.5rem;
    font-weight: 400;
  }

  @include respond(phone) {
    display: none;
  }

  &-text {
    margin: 0 0 0 .9%;
  }
}
