.about-page {
  background-color: rgb(46, 51, 56);
  color: white;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  flex-direction: column;
  padding-top: 2%;
}

.about-intro{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-img {
  margin-top: 3%;
  width: 40%;
}

.about-text-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 55%;
}

.about-text-section p {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-left: 3%;
}

.about-text-section p span {
  color: rgb(10, 255, 169);
}

.div-about-arrow{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.arrow {
	width: 3vmin;
	height: 3vmin;
	background: transparent;
	border-top: 1vmin solid white;
	border-right: 1vmin solid white;
	transition: all 200ms ease;
}	

.point {
		transform: translate3d(0,-40%,0) rotate(-225deg);
	}
	
.arrow:hover {
		border-color: rgb(10, 255, 169);
		box-shadow: 0.5vmin -0.5vmin 0 white;
	}

.div-skills-title{
  width: 90%;
}

.about-skills {
  align-items: center;
  border-top: 1px solid rgb(10, 255, 169);
  display: flex;
  flex-direction: column;
  margin: 8% 0;
}

.about-skills-title {
  color: rgb(10, 255, 169);
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin-top: 5%;
}

.about-both-skills-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.soft-skills-section{
  margin-top: 5%;
}

.skills-title{
  width: 90%;
}

.about-hard-skills {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.hard-skills-icons {
  font-size: 100px;
  margin-bottom: 8px;
}

.div-icon-text:hover{
  color: rgb(10, 219, 146);
  transition: ease 0.5s;
}

.div-icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-size: 20px;
  font-weight: 500;
  margin: 3% 0 2%;
}

.title:hover{
  color: rgb(10, 219, 146);
  transition: ease-in 0.5s;
}

.about-soft-skills{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 95%;
}

.about-soft-skills-img {
  width: 25%;
  margin-bottom: 8px;
}

@media screen and (max-width: 500px) {
  .about-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .about-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: 100%;
    margin-top: 20%;
  }

  .about-text-section{
    width: 90%;
  }

  .about-intro p {
    font-size: 17px;
    width: 100%;
    margin: 0 0 8% 0;
  }

  .about-img {
    margin-top: 8%;
    width: 90%;
  }

  .about-skills-title {
    font-size: 20px;
  }

  .title {
    font-size: 18px;
  }

  .about-hard-skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    margin-top: 3%;
    width: 100%;
  }

  .hard-skills-icons{
    font-size: 60px
  }

  .about-hard-skills div {
    margin: 0 8%;
  }

  .div-icon-text p{
    font-size: 15px;
  }

  .about-soft-skills {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    width: 100%;
  }

  .div-soft-skills-img{
    margin-bottom: 8%;
  }

  .div-icon-text img {
    margin: 0 5%;
  }

  .about-soft-skills-img {
    width: 20%;
  }
}