@import '../styles/abstracts/variables.scss';
@import '../styles//abstracts/mixins.scss';

.all-about {
  background-image: url('../styles/6173955.jpg');
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.about {
  
  display: flex;
  font-family:  'Raleway', sans-serif;
  justify-content: space-between;
  margin-left: 10%;
  width: 100wh;

  @include respond(tab-land) {
    margin-left: 7%;
  }

  @include respond(tab-land-small) {
    margin-left: 10%;
    flex-direction: column;
  }

  &-text-skills {
    align-items: center;
    display: flex;
    flex-direction: column;    
    width: 45%;

    @include respond(tab-land-small) {
      width: 80%;
    }
  }

  &-text {
    color: $color-white;
    line-height: 2.3rem;
    padding: 3% 0 $padding-top-bottom 0;
    text-align: justify;

    @include respond(tab-land-small) {
      padding: 4% 0 $padding-top-bottom 0;
    }

    &-p-1 {
      font-size: 4.3rem;
      font-weight: 700;
      line-height: 5.6rem;
    }

    &-p-2, &-p-6 {
      font-size: 1.7rem;
      font-weight: 700;
      line-height: 5rem;
    }

    &-p-3, &-p-4, &-p-5 {
      font-size: 1.5rem;
      font-weight: 400;
    }

    &-p-6 {
      margin-bottom: 0;
    }

    &-p span {
      color: $color-green;
    }
  }

  &-skills {
    color: $color-white;
    border-top: 2px solid $color-green;
    padding-top: $padding-top-bottom;
    width: 100%;

    &-p {
      font-size: 1.7rem;
      font-weight: 700;
      padding-bottom: 2%;
    }
  }

  &-skill {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    color: $color-white;
    display: flex;
  }

  &-div-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 5%;
  }

  &-icon {
    font-size: 3.5rem;
    transition: all .3s;

    &:hover {
      color: $color-green;
    }

    &-text {
      font-size: 1.4rem;
    }
  }

  &-image {
    width: 60%;

    @include respond(tab-land) {
      width: 70%;
    }

    @include respond(tab-land-small) {
      padding-bottom: 10%;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  &-img {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    object-fit: cover; object-position: 50% 0;

    @include respond(tab-land) {
      width: 45%;
    }
   
    @include respond(tab-land-small) {
      width: 100%;
      position: relative;
    }
  }
}

