@import '../styles/abstracts/variables.scss';
@import '../styles//abstracts/mixins.scss';

.about {
  background-image: url('../styles/6173955.jpg');
  background-size: cover;
  display: flex;
  font-family:  'Raleway', sans-serif;
  justify-content: space-between;
  height: 100vh;
  width: 100%;

  &-text-skills {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin-left: 10%;
    align-items: center;
    width: 70%;
  }

  &-text {
    color: $color-white;
    // margin-left: 10%;

    &-p-1 {
      font-size: 4.8rem;
      font-weight: 700;
    }

    &-p-2, &-p-6 {
      font-size: 2rem;
      font-weight: 700;
    }

    &-p-3, &-p-4, &-p-5 {
      font-size: 1.6rem;
      font-weight: 400;
    }

    &-p span {
      color: $color-green;
    }
  }

  &-skills {
    color: $color-white;
    // margin-left: 10%;
    width: 100%;
  }

  &-skill {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: $color-white;
    display: flex;
  }

  &-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }

  &-image {
    width: 50%;
  }

  &-img {
    width: 100%;
  }
}


