@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Poiret+One&display=swap');

@import '../styles/main.scss';


.all-home {
  background-image: url('../styles/BG-SVG.svg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home {
  // background-color: $color-gray-dark;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  
  justify-content: space-between;
  width: 100%;

  &-section {
    animation: opacityEffect 3s cubic-bezier(0.45, 0.05, 0.55, 0.95) both, slideEffect 3s ease both;
    color: $color-green;
    font-family: 'Raleway', sans-serif;
    margin-left: 10%;

    @include respond(tab-port) {
      margin-top: 10%;
    }

    @include respond(phone) {
      margin-top: 0;
    }
  }

  &-name-1 {
    font-size: 12rem;
    letter-spacing: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    height: min-content;
    margin-bottom: -9%;

    @include respond(tab-land) {
      font-size: 10rem;
    }

    @include respond(tab-port-small) {
      font-size: 6rem;
      margin-bottom: -7%;
    }

    @include respond(phone) {
      font-size: 4rem;
    }

    // @include respond(phone-small) {
    //   font-size: 3.9rem;
    //   margin-bottom: -4%;
    // }
  }

  &-name-2 {
    font-size: 12rem;
    letter-spacing: 10rem;
    text-transform: uppercase;
    font-weight: 200;
    height: min-content;
    margin: 0;

    @include respond(tab-land) {
      font-size: 10rem;
      letter-spacing: 9rem;
    }

    @include respond(tab-port-small) {
      font-size: 6rem;
      letter-spacing: 6.8rem;
    }

    @include respond(phone) {
      font-size: 4rem;
      letter-spacing: 5.7rem;
    }

    // @include respond(phone-small) {
    //   font-size: 3rem;
    //   letter-spacing: 6.2rem;
    // }
  }

  &-subtitle {
    color: $color-white;
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    margin-top: 2%;
    text-transform: uppercase;

    @include respond(tab-land) {
      font-size: 1.2rem;
      font-weight: 500;
    }

    @include respond(tab-port-small) {
      flex-direction: column;
      font-weight: 600;
      font-size: 1.2rem;
      margin-top: 3%;
    }

    @include respond(phone) {
      font-size: 1rem;
      margin-top: 40%;
    }

    // @include respond(phone-small) {
    //   flex-direction: column;
    //   font-size: 1.4rem;
    // }

    & span {
      margin: 0 2.4%;

      // @include respond(tab-land) {
      //   margin: 0 .9%;
      // }

      @include respond(tab-port-small) {
        display: none;
      }
    }
  }
}


@keyframes slideEffect {
  from {
    transform: translateX(-300px)
  }
  to {
    transform: translateX(0)
  }
}

@keyframes slideUpEffect {
  from {
    transform: translateY(300px)
  }
  to {
    transform: translateX(0)
  }
}
  
@keyframes opacityEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
