@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Poiret+One&display=swap');

@import '../styles/abstracts/variables.scss';
@import '../styles/abstracts/mixins.scss';


.hm {
  background-image: url('../styles/6173955.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home {
  // background-color: $color-gray-dark;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  justify-content: space-between;
  width: 100%;

  &-section {
    color: $color-green;
    font-family: 'Raleway', sans-serif;
    margin: 3% 0 0 10%;
    // width: 50%;
  }

  &-name-1 {
    font-size: 13rem;
    letter-spacing: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    height: min-content;
    margin-bottom: -9%;
  }

  &-name-2 {
    font-size: 13rem;
    letter-spacing: 10.5rem;
    text-transform: uppercase;
    font-weight: 200;
    height: min-content;
    margin: 0;
  }

  &-subtitle {
    color: $color-white;
    display: flex;
    font-size: 1.4rem;
    margin-top: 2%;
    text-transform: uppercase;

    & span {
      margin: 0 4%;
    }
  }

  &-text-animation {
    animation: opacityEffect 3s cubic-bezier(0.45, 0.05, 0.55, 0.95) both, slideEffect 3s ease both;
  }

  &-links {
    border-radius: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    background-color: $color-green;
    // padding: 1%;
    // width: 65%;
  }

  &-links a {
    font-size: 2.2rem;
    text-decoration: none;
    padding: 2rem;
    
    color: $color-black;
    transition: all .3s;

    &:hover {
      color: $color-white;
    }
  }


  @include respond(tab-land) {
    height: 90vh;

    &-section {
      margin-left: 5%;
      width: 50%;
    }

    &-section p {
      font-size: 5rem;
    }
  }

  @include respond(tab-port) {
    &-section {
      margin-top: 10%;
      width: 80%;
    }

    &-section p {
      font-size: 6rem;
    }

    &-links {
      margin: auto;
    }

    &-links a {
      margin-top: 20%;
    }
  }

  @include respond(phone) {
    &-img-section {
      display: none;
    }

    &-section {
      width: 90%;
    }

    &-links {
      margin: auto;
    }
  }
}


@keyframes slideEffect {
  from {
    transform: translateX(-300px)
  }
  to {
    transform: translateX(0)
  }
}
  
@keyframes opacityEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
