@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Poiret+One&display=swap');

.home-div{
  background-color: rgb(33, 37, 41);
  background-size: cover;
  display: flex;
  flex-direction: row;
  min-height: 86vh;
  width: 100%;
}

.home-div section{
  margin-top: 15%;
}

.text-section{
  margin-left: 18%;
  width: 40%;
}

.img-section{
  display: flex;
  height: 100%;
  width: 35%;
  margin-top: 13%;
}

.home-div p {
  /* color: rgb(0, 218, 196); */
  color: rgb(10, 255, 169);
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  letter-spacing: 2px;
  margin: 8% 0 5% 0;
}

.home-div p:nth-child(2) {
  font-size: 24.5px;
}

.home-div img{
  width: 70%;
}

.text-animation {
  animation: opacityEffect 3s cubic-bezier(0.45, 0.05, 0.55, 0.95) both, slideEffect 3s ease both;
}

@keyframes slideEffect {
  from {
    transform: translateX(-300px)
  }
  to {
    transform: translateX(0)
  }
}
  
@keyframes opacityEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .home-div{
    background-size: cover;
    display: flex;
    flex-direction: row;
    min-height: 91vh;
    width: 100%;
  }

  .home-div section{
    margin-top: 0;
  }

  .img-section{
    display: none;
  }

  .text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    margin: 0;
  }
  .text-section p {
    text-align: start;
  }
  
}
