@import '../styles/abstracts/variables.scss';
@import '../styles/abstracts/mixins.scss';

.dark-background {
  background-color: $color-gray-medium;
}

.project {
 
  color: $color-white;
  font-weight: 300;

  &-section-introduction {
    margin-left: 3%;
    padding-top: 3%;

    & p:nth-child(1) {
      color: $color-green;
      font-family: 'Montserrat', sans-serif;
      font-size: 3rem;
      font-weight: 300;
    }

    & p:nth-child(2) {
      font-size: 1.5rem;
    }
  }

  &-thumbnail-section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  &-individual-thumbnail {
    background-color: $color-gray-medium;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba($color-black, 0.2), 0 6px 20px 0 rgba($color-black, 0.19);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    margin: 32px;
    width: 27%;

    @include respond(tab-land) {
      width: 40%
    }

    @include respond(tab-port) {
      width: 70%
    }

    @include respond(phone) {
      width: 90%
    }

    & p {
      font-size: 2rem;
      margin-top: 5%;
    }

    & a {
      text-decoration: none;
      color: $color-white;
    }
  }

  &-video-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3%;
    width: 100%;

    @include respond(tab-port) {
      width: 100%
    }

    &-i {
      font-size: 2rem;
      transition: all .5s;

      &:hover {
        color: $color-green;
        transform: translateY(-5px) !important;
      }
    }
  }


  &-img-individual {
    width: 100%;
  }
}

.more-info-button, .popup-Close{
  border: none;
  background-color: transparent;
  color: $color-white;
}

.popup {
  background: transparent;
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);  

  &-text-video-container{
    background-color: rgba($color-black, 0.9);
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba($color-black, 0.2), 0 6px 20px 0 rgba($color-black, 0.19);
    height: 95%;
    width: 60%;
    padding: 0 2% 2% 2%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond(tab-land) {
      width: 80%
    }

    @include respond(tab-port) {
      height: 85vh;
      width: 90%
    }

    & video {
      max-height: 50vh;
      width: 70%;

      @include respond(tab-land) {
        width: 80%
      }

      @include respond(phone) {
        margin-top: 5%;
        max-height: 40vh;
        width: 95%;
      }
    }
  }

  &-informative-text {
    margin: auto;
    width: 70%;

    @include respond(tab-land) {
      width: 80%;
    }

    @include respond(tab-port) {
      width: 90%;
    }
  }

  & p:nth-child(1) {
    color: $color-green;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5%;
  }

  & p:nth-child(2) {
    margin-top: 4%;
    font-size: 1.9rem;

    @include respond(tab-port) {
      font-size: 2.2rem;
    }
  }

  & p:nth-child(3) {
    font-size: 1.7rem;

    @include respond(tab-port) {
      font-size: 2rem;
    }
  }

  &-info-project-text {
    color: $color-white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
 
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
  }

  &-div-close {
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
    width: 95%;
  }

  &-Close {
    font-size: 2rem;

    transition: all .5s;
  }

  &-Close:hover {
    color: $color-green;
  }
}
