@import '../styles/abstracts/variables.scss';

.footer{
  color: aliceblue;
}


@media screen and (max-width: 1500px) and (min-width: 501px) {
  footer {
    padding: 2%;
  }
  footer p {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  footer {
    padding: 2%;
  }
  footer p {
    font-size: 12px;
  }
}