@import '../styles/abstracts/variables.scss';

.footer{
  display: flex;
  align-items: center;
  color: $color-green;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0 0 2.5% 10%;

  &-text {
    margin: 0 0 0 .9%;
  }
}


@media screen and (max-width: 1500px) and (min-width: 501px) {
  footer {
    padding: 2%;
  }
  footer p {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  footer {
    padding: 2%;
  }
  footer p {
    font-size: 12px;
  }
}