@import '../styles/abstracts/variables.scss';

.footer{
  background-color: $color-gray-dark;
  display: flex;
  flex-direction: column;
  font-size: $default-font-size;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: $color-gray-light;
  margin: auto;
  padding: 1% 0 0 0;

  &-text-1 {
    margin-bottom: 1%;
  }
}


@media screen and (max-width: 1500px) and (min-width: 501px) {
  footer {
    padding: 2%;
  }
  footer p {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  footer {
    padding: 2%;
  }
  footer p {
    font-size: 12px;
  }
}