header{
  background-color: rgb(33, 37, 41);
  color: rgb(197, 195, 198);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 1.5% 1.5% 1.5%;
  align-content: center;
  align-items: center;
}

.portfolio-name{
  color: rgb(197, 195, 198);
  margin-bottom: 0;
  text-decoration: none;
}

header nav{
  /* align-items: center; */
  display: flex;
  flex-direction: row;
  margin-right: 10%;
}

header nav a {
  font-weight: 300;
  margin: 0 20%;
  text-decoration: none;
  color: rgb(197, 195, 198);
}

nav a:hover, .portfolio-name:hover{
  color: rgb(10, 255, 169);
}

.selected{
  color: rgb(10, 255, 169);
}

@media screen and (max-width: 500px) {
  header{
    width: 100%;
    font-size: 12px;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .portfolio-name {
    font-size: 11px;
  }

  header nav{
    margin-left: 8%;
  }

  header nav a {
    margin-right: 0;
  }
}