@import '../styles/abstracts/variables.scss';
@import '../styles/abstracts/mixins.scss';

.header{
  background-color: $color-gray-dark;
  color: $color-gray-light;
  
  display: flex;
  flex-direction: row;
  font-size: $default-font-size;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  
  padding: 1.3% 3%;
  width: 100%;

  @include respond(phone) {
    padding: 3%;
  }

  &-portfolio-name{
    color: $color-gray-light;
    margin-bottom: 0;
    text-decoration: none;

    &:hover {
      color: $color-green;
    }
  }

  &-icon-btn {
    width: 4.1rem;
    height: 4rem;
    border: 1px solid $color-gray-dark;
    background: transparent;
    border-radius: 2.5rem;
    overflow: hidden;
    position: relative;
    transition: width 0.9s ease-in-out;
  }

  &-btn {
    @include respond(phone) {
      display: none;
    }
  }

  &-link-btn {

    &:hover {
      width: 12rem;
    }

    &::after, &::before {
      transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
      content: "";
      position: absolute;
      height: 4px;
      width: 10px;
      top: calc(50% - 2px);
      background: $color-green;
    }

    &::after {
      right: 14px;
      overflow: hidden;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    &::before {
      left: 14px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }

  &-icon-btn:focus {
    outline: none;
  }

  &-btn-txt {
    color: $color-white;
    opacity: 0;
    transition: opacity 0.2s;

    &:hover::after, &:hover::before {
      width: 20px;
      border-radius: 2px;
    }
  }

  &-link-btn:hover, &-btn-txt:hover {
    opacity: 1;
  }


  &-nav {
    display: flex;
    flex-direction: row;
    margin-right: 10%;

    @include respond(tab-land) {
      margin-right: 15%;
    }

    @include respond(tab-port) {
      margin-right: 25%;
    }

    @include respond(phone) {
      width: 100%;
      margin: 0;
      justify-content: space-around;
    }

    & a {
      font-weight: 300;
      margin: 0 20%;
      text-decoration: none;
      color: $color-gray-light;
      transition: all .3s;

      @include respond(tab-port) {
        font-size: 1.8rem;
      }

      @include respond(phone) {
        margin: 0;
      }

      &:hover {
        color: $color-green;
      }
    }
  }

}

.selected{
  color: $color-green;
}
