@import '../styles/abstracts/variables.scss';
@import '../styles/abstracts/mixins.scss';

.header, .header-home{
  background-color: $color-gray-dark;
  color: $color-gray-light;
  
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  
  padding: 2.5% 0 2.5% 10%;
  width: 100%;

  @include respond(phone) {
    padding: 3%;
  }

  &-home {
    background-color: transparent !important;
  }

  &-nav {
    display: flex;
    margin-right: 10%;
    text-transform: uppercase;

    @include respond(tab-land) {
      margin-right: 15%;
    }

    @include respond(tab-port) {
      margin-right: 25%;
    }

    @include respond(phone) {
      width: 100%;
      margin: 0;
      justify-content: space-around;
    }

    & a {
      font-weight: 300;
      margin: 0 20%;
      text-decoration: none;
      color: $color-gray-light;
      transition: all .3s;

      @include respond(phone) {
        margin: 0;
      }

      &:hover {
        color: $color-green;
        transform: translateY(-3px);
      }
    }
  }

}

.selected {
  color: $color-green !important;
}
