@import './styles/abstracts/variables.scss';
@import './styles/abstracts/mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  line-height: 1.7;

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px; px/16px = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px; 8px/16px = 50%
  }

  @include respond(big-desk) {
    font-size: 75%; // 1rem = 12px; 12px/16px = 75%
  }
}

body{
  font-family: 'Raleway', sans-serif;
}